body {
    width: 620px !important;
    height: 520px !important;
    min-height: 500px !important;
    font-size: 13px !important;
    overflow: auto !important;
}

button {
    font-size: 13px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

input {
    font-size: 13px !important;
    height: 25px !important;
}

#login-container {
    width: 240px;
    height: 78px;
    padding: 20px !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-bottom: auto !important;
    display: none;
}

#loginButton {
    width: 200px;
}

.menu-button {
    padding: 5px;
    margin: 0;
}

.menu-container {
    display: inline-block;
    float: right;
    margin-top: 0;
    margin-right: 30px;
}

#title{
    font-family: 'Gloria Hallelujah', cursive;
}

#list-class-container {
    background-color: #f1f1f1;
    height: 472px;
    width: 200px;
    float: left;
}

#contents {
    float:right;
    width: 420px;
}

#list-class-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.classButton {
    border: 0 !important;
    width: 100%;
    border-radius: 0 !important;
    background-color: transparent;
    height: 50px;
}

.classButton:hover {
    background-color: #727272;
    cursor: pointer;
}

#className {
    width: 250px;
    display: inline-block;
    margin-left: 10px;
}

#targetScoreChange {
    width: 50px;
    display: inline-block;
    margin-left: 10px;
}

#classNameChange
{
    width: 200px;
    display: inline-block;
    margin-left: 16px;
}

#targetScoreAdd {
    width: 50px;
    display: inline-block;
    margin-left: 10px;
}

#classNameAdd
{
    width: 200px;
    display: inline-block;
    margin-left: 16px;
}

#targetScoreText {
    display: inline-block;
    margin-left: 10px;
}

#currentScore {
    display: inline-block;
    margin-left: 10px;
}

#items-new-class {
    margin-top: 10px;
    overflow: auto;
    max-height: 240px;
}

.new-item {
    height: 30px;
    width: 150px;
    display: inline-block;
    margin-left: 10px;
}

.gradeInput {
    width: 60px;
    padding-right: 0;
}

.tableInput {
    width: 100%;
    margin-left: 0;
}

table {
    width: 420px !important;
}

.numberTableInput {
    width: 60px;
    padding: 0;
    display: inline-block;
    text-align: center;
}

.deleteImg:hover {
    cursor: pointer;
}

#addItemChanges:hover {
    cursor: pointer;
}

#addItemAddClass {
    cursor: pointer;
}

th {
    height: 44px !important;
}

.edit-table-container {
    max-height: 340px;
    display: inline-block;
    overflow-y: scroll;
}

.add-table-container {
    max-height: 280px;
    display: inline-block;
    overflow-y: scroll;
}

.view-table-container {
    max-height: 380px;
    display: inline-block;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}